<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/styleProfile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <title>Criar post</title>
  </head>
  <body>
    <nav>
      <h1 id="logo">Tech Talks</h1>

      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/post">Publicar</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/signin">Sair</a></li>
      </ul>
    </nav>

    <section>
      <h1>Seus posts</h1>

    {{range .}}
    <div class="card-container">
      <div class="card-header">
        <h2>{{.Title}}</h2>
        <form method="POST" action="/delete-post" style="display: inline;">
          <input type="hidden" name="post_id" value="{{.ID}}">
          <button type="submit" style="background: none; border: none; cursor: pointer;">
            <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </div>
      <p>{{.Description}}</p>
      <small>Publicado em: {{.DateStr}}</small>
    </div>
    {{else}}
    <p>Você ainda não criou nenhum post.</p>
    {{end}}

  </body>
</html>
