<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
    <link rel="stylesheet" href="../../static/css/styleHome.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
  </head>
  <body>
    <nav>
      <h1 id="logo">Tech Talks</h1>

      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/post">Publicar</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/signin">Sair</a></li>
      </ul>
    </nav>

    <section class="containerCards">
      <h1>Home</h1>
      <h2>Publicações</h2>
      {{range .}}
      <div class="containerCard">
        <div class="cards"> 
          <div class="card-header">
            <h2>{{.Title}}</h2>
            <small>{{.DateStr}}</small>
          </div>

          <p>{{.Description}}</p>
        </div>
      </div>
      {{else}}
      <p>Nenhum post adicionado.</p>
      {{end}}
    </section>

    <a href="#logo">   
       <div class="box-float">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
  </a>
  </body>
</html>
