<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
    <link rel="stylesheet" href="../../static/css/styleHome.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
  </head>
  <body>
    <nav>
      <h1 id="logo">Tech Talks</h1>

      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/post">Publicar</a></li>
        <li><a href="/profile">Perfil</a></li>
        <li><a href="/signin">Sair</a></li>
      </ul>
    </nav>
    <section class="containerCards">
      <h1>Home</h1>
      <h2>Publicações</h2>
      {{range .}}
      <div class="containerCard">
        <div class="cards">
          <div class="card-header">
            <h2>{{.Title}}</h2>
            <small>{{.DateStr}} - por {{.AuthorName}}</small>
          </div>
    
          <div class="card-body">
            {{if .ImageURL}}
            <div class="card-image" style="margin-bottom: 10px;">
              <img src="{{.ImageURL}}" alt="Imagem do post" style="max-width: 100%; height: auto; border-radius: 8px;">
            </div>
            {{end}}
    
            <p>{{.Description}}</p>
          </div>
    
          <div class="card-footer">
            <div class="card-footer">
              <form method="POST" action="/responder">
                <input type="hidden" name="post_id" value="{{.ID}}">
                <input name="content" type="text" required placeholder="Escreva uma resposta..." />
                <button type="submit">Postar</button>
              </form>
            </div>
            
          </div>
    
          <div class="responses">
            {{if .Responses}} 
              {{range .Responses}}
              <div class="response">
                <p>{{.Content}}</p>
                <small>Postado por {{.AuthorName}} em {{.CreatedAt.Format "02/01/2006 15:04"}}</small>
              </div>
              {{end}}
            {{else}}
              <p>Nenhuma resposta ainda.</p>
            {{end}}
          </div>    
        </div>
      </div>
      {{else}}
        <p>Nenhum post adicionado.</p>
      {{end}}
    </section>
    
    

    <a href="#logo">   
       <div class="box-float">
        <i class="fa-solid fa-arrow-up"></i>
    </div>
  </a>


  <a href="/post">
    <div class="box-flot-add">
      <i class="fa-solid fa-plus"></i>
    </div>
  </a>
  </body>
</html>
