:root {
  --color-bg: #1e1e2e; /* Fundo principal */
  --color-bg-secondary: #3c3c52; /* Fundo secundário */
  --color-primary: #7aa2f7; /* Destaque (botões, links) */
  --color-accent: #bb9af7; /* Acento (bordas, realces sutis) */
  --color-text: #cdd6f4; /* Texto principal */
  --color-links: #14457c;
  --color-text-secondary: #384ea4; /* Texto secundário */
  --color-error: #f7768e; /* Erros, alertas */
  --color-success: #9ece6a; /* Sucesso, confirmações */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Aplicando as cores */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Arial", sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

button {
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-accent);
}
ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
nav {
  background-color: var(--color-bg-secondary);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 20px;
}
nav h1 {
  cursor: default;
  text-transform: uppercase;
}
nav ul {
  list-style-type: none;

  display: flex;
  gap: 20px;
}

nav ul li {
  padding: 10px;
}
nav ul li:last-child {
  background-color: var(--color-bg);
  border-radius: 5px;
}
nav ul a {
  color: var(--color-text);
}
