nav {
  background-color: var(--color-bg-secondary);

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 20px;
}
nav h1 {
  cursor: default;
  text-transform: uppercase;
}
nav ul {
  list-style-type: none;

  display: flex;
  gap: 20px;
}

nav ul li {
  padding: 10px;
}
nav ul li:last-child {
  background-color: var(--color-bg);
  border-radius: 5px;
}
nav ul a {
  color: var(--color-text);
}
