<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Criar conta</title>
    <link rel="stylesheet" href="/static/css/styleSignUp.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body>
    <main>
      <section id="banner">
        <img src="../../static/img/banner.svg" alt="" />
      </section>

      <section id="form">
        <form class="form" action="/register" method="post">
          <p class="form-title">Crie sua conta gratis</p>
          <div class="input-container">
            <input name="name" type="text" placeholder="Nome" required />
            <span> </span>
          </div>
          <div class="input-container">
            <input
              name="nickname"
              type="text"
              placeholder="Nickname"
              required
            />
            <span> </span>
          </div>
          <div class="input-container">
            <input name="email" type="email" placeholder="Email" required />
            <span> </span>
          </div>
          <div class="input-container">
            <input
              name="password"
              type="password"
              placeholder="Senha"
              required
            />
          </div>
          <button type="submit" class="submit">Criar conta</button>

          <p class="signup-link">
            Já tem conta?
            <a href="/signin">Faça seu Login</a>
          </p>
        </form>
      </section>
    </main>

    <footer>
      <h1>Tech Talks</h1>
      <p>
        O Tech Talks é uma plataforma inovadora criada para conectar
        profissionais e entusiastas da tecnologia. Com um ambiente dinâmico e
        interativo, o app permite que os usuários tirem dúvidas técnicas e de
        carreira, compartilhem experiências e troquem conhecimentos com
        especialistas da área. Seja para solucionar problemas de código,
        entender tendências do mercado ou obter conselhos sobre desenvolvimento
        profissional, o Tech Talks é o espaço ideal para impulsionar sua jornada
        no mundo da tecnologia. 🚀
      </p>
      <span>Copyright © 2025 Todos os direitos reservados.</span>
    </footer>
  </body>
</html>
