<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faça seu login</title>
    <link rel="stylesheet" href="/static/css/styleSignIn.css" />

    <link rel="stylesheet" href="/static/css/global.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    {{if .Error}}
    <div class="promptErro">{{.Error}} <i class="fa-solid fa-x"></i></div>
    {{end}}
    <main>
      <section id="banner">
        <img src="../../static/img/log_in3.svg" alt="" />
      </section>

      <section id="form">
        <form class="form" action="/login" method="post">
          <p class="form-title">Faça seu login</p>
          <div class="input-container">
            <input
              name="email"
              type="email"
              placeholder="Digite seu email"
              required
            />
            <span> </span>
          </div>
          <div class="input-container">
            <input
              name="password"
              type="password"
              placeholder="Digite sua senha"
              required
            />
          </div>
          <button type="submit" class="submit">Entrar</button>

          <p class="signup-link">
            Ainda não tem conta ?
            <a href="/signup">Crie aqui</a>
          </p>
        </form>
      </section>
    </main>

    <footer>
      <h1>Tech Talks</h1>
      <p>
        O Tech Talks é uma plataforma inovadora criada para conectar
        profissionais e entusiastas da tecnologia. Com um ambiente dinâmico e
        interativo, o app permite que os usuários tirem dúvidas técnicas e de
        carreira, compartilhem experiências e troquem conhecimentos com
        especialistas da área. Seja para solucionar problemas de código,
        entender tendências do mercado ou obter conselhos sobre desenvolvimento
        profissional, o Tech Talks é o espaço ideal para impulsionar sua jornada
        no mundo da tecnologia. 🚀
      </p>
      <span>Copyright © 2025 Todos os direitos reservados.</span>
    </footer>
  </body>
</html>
